<div class="row mt-5">
  <div class="col-2">
    <button class="btn btn-light border border-warning" (click)="onDetectLocationClick()">Определить</button>
  </div>
  <div class="col-8 ">
    <input type="text" id="suggest" class="address form-control ymaps-2-1-78-search__suggest"
           (focus)="onSearchChange()" value="{{addressLine}}" #inputAddress>
  </div>
  <div class="col-2">
    <button class="btn btn-warning" (click)="showOnMap(inputAddress.value)">OK</button>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-1 map">
    <ya-map [center]="center"
            (ready)="onMapReady($event)"
            (actionend)="onYaActionEnd($event)"
            [state]="mapState">
      <ya-placemark
        *ngIf="pointer"
        [geometry]="pointer"
        [properties]="pointer"
        [options]="{ preset: 'islands#circleIcon', iconColor: '#3caa3c' }"
      ></ya-placemark>
    </ya-map>
    <div class="marker"></div>
  </div>
</div>
<p><i>
  Currently: {{inputAddress}}
</i></p>




